<header class="desktop-only header">
    <div class="header__background">
        <div class="header__flex">
            <a href="../pages/index.html">
                <img class="logo" src="../assets/images/logos/school.png" alt="">
            </a>
            <h1 class="white">
                Sistemas
                Transportes
            </h1>
            <a href="https://www.mep.go.cr/" target="_blank" rel="noopener noreferrer">
                <img class="logo mep" src="../assets/images/logos/mep.png" alt="Ministerio de Educacion">
            </a>
        </div>
    </div>
    <div class="nav">
        <div class="nav__link">
            <a href="../pages/index.html">Home</a>
            <a href="../pages/rutas.html" data-auth="private">Rutas</a>
            <a href="../pages/informe.html" data-auth="private">Informe</a>
            <a href="../pages/perfil.html" data-auth="private">Gestion</a>
            <a href="../pages/auth/login.html" data-auth="guest">Iniciar Sesion</a>
            <a href="#" id="logout-link" data-auth="private">Cerrar Sesion</a>
        </div>
    </div>
</header>
